body {
  background-color: black;
}

h2 {
  color: #00A9DE;
  font-size: 11px;
  margin: 23px auto 13px;
}

.container {
  margin: 0 3.5% 30px;
}

.banner-container {
  position: sticky;
  top: 0;
  z-index: 1;
}

.banner-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;

  &__item {
    &:first-child {
      margin-right: auto;
    }
  }

  &__icon-wrapper {
    padding: 14px;

    img {
      vertical-align: top;
    }
  }
}

.banner-slider {
  height: 61.3%;

  ul {
    height: 100%;
    overflow: hidden;

    li {
      height: 100%;
      padding-bottom: 61.3%;
      position: relative;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__caption {
    color: white;
    position: absolute;
    bottom: 59px;
    left: 22px;

    h1 {
      font-size: 23px;
    }
    span {
      font-size: 11px;
      line-height: 1;
      display: block;
      margin-bottom: 7px;
    }
    small {
      font-size: 13px;
      font-style: italic;
      line-height: 1;
      display: block;
      margin-top: 8px;
    }
  }
}

.card {
  background-color: rgba(53, 53, 53, 0.5);
  position: relative;
  margin-bottom: 13px;

  &__inner {
    display: inherit;
    color: inherit;
    text-decoration: none;
  }

  &__figure {
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width: 158px;

    figure {
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__caption {
    margin-left: 172px;
    padding: 14px 14px 10px 0;

    p {
      color: white;
      font-size: 15px;
      max-height: 3em;
      overflow: hidden;

      &:first-child {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
        line-height: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 10px;
      }

      &:last-child {
        color: #00A9DE;
        font-size: 11px;
        line-height: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 20px;
      }
    }
  }
}
