h1 {
  color: #343434;
  margin: 20px auto 40px;
  position: relative;
  text-align: center;

  &::after {
    background-color: #00A9DE;
    content: "";
    display: block;
    height: 2px;
    width: 88px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

  small {
    display: block;
    margin-top: 16px;
    color: #484848;
    font-size: 15px;
    font-weight: normal;
  }
}

p {
  color: #2C2C2C;
  font-size: 16px;
}

.container {
  margin: 0 4.4% 20px;
}

.button {
  display: block;
  padding: 13px 5px;
  background-color: #00A9DE;
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.banner-container {
  position: sticky;
  top: 0;
  z-index: 1;
}

.banner-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;

  &__item {
    &:first-child {
      margin-right: auto;
    }
  }

  &__icon-wrapper {
    padding: 14px;

    img {
      vertical-align: top;
    }
  }
}

.banner-slider {
  height: 61.3%;

  ul {
    height: 100%;
    overflow: hidden;

    li {
      height: 100%;
      padding-bottom: 61.3%;
      position: relative;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card {
  display: flex;
  margin-bottom: 30px;

  &__inner {
    display: inherit;
    color: inherit;
    text-decoration: none;
  }

  &__figure {
    flex-basis: 158px;

    figure {
      display: flex;
      flex-direction: column;

      img {
        vertical-align: top;
      }

      figcaption {
        color: #00A9DE;
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
      }
    }
  }

  &__caption {
    flex: 1;
    align-self: center;

    p {
      color: #2C2C2C;
      font-size: 16px;
    }
  }
}
